@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Спасибо за подтверждённый email. Пожалуйста @Html.ActionLink("Для входа, перейдите по ссылке", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
