@{
    ViewBag.Title = "Сброс пароля подтверждён";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Пожалуйста, проверьте Ваш email. Возможно письмо попало в папку СПАМ.
    </p>
</div>
	
