@{
    ViewBag.Title = "Поздравляем!";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Новый пароль установлен. Пожалуйста @Html.ActionLink("авторизуйтесь", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
