 
<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Контакты <small> просмотрено @ViewBag.AdCountWatchingPhone раз</small></h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
             Email: <a href="mailto:@ViewBag.AdUserId"> @ViewBag.AdUserId <br /> </a>
             Контактный номер: <a href="tel:+@ViewBag.AdPhoneNumber"> @ViewBag.AdPhoneNumber </a>

</dl>
    </div>
</div>